<!DOCTYPE html>
<html>

<head>
  <title>Coap Tp</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <style>
    .inline-form {
      display: inline-block;
    }
  </style>
</head>

<body>
  <div class="container" style="text-align:center;">

    <p style='font-size:30px;'>
      L'etat du LED
      <span id='state'>{{ state }}</span>
    </p>

    <form class="inline-form" action="/led_on" method="post">
      <button class="btn btn-success" type="submit">Turn On</button>
    </form>

    <form class="inline-form" action="/led_off" method="post">
      <button class="btn btn-danger" type="submit">Turn Off</button>
    </form>

  </div>
</body>

</html>